<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="layout.css" rel="stylesheet">
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->

  </body>
</html>
